{% extends 'user_base.html' %}

{% block content %}

    <div id="aboutus_para">
        Welcome to TravelmadeEasy, a website designed by students of the 6th semester of the Government Engineering College, Modasa, to make your travel experience as easy and convenient as possible. <br>

We understand that planning a trip can be stressful and time-consuming, which is why we have created a platform that simplifies the process and offers two essential services: hotel booking and vehicle booking. <br>

Whether you're planning a business trip, a family vacation, or a romantic getaway, our website offers a range of options to cater to your specific needs and preferences. With our user-friendly interface, you can easily search for and compare hotel and vehicle options to find the best deals. <br>

At TravelmadeEasy, we are committed to making your travel experience hassle-free and enjoyable. We hope that by offering these two essential services, we can help you focus on enjoying your trip rather than worrying about the logistics. <br>

Thank you for choosing TravelmadeEasy for your hotel and vehicle booking needs. We look forward to helping you plan your next adventure!
    </div>
    <table border="1px" cellspacing="0" id="aboutus_table" align="center" cellpadding="10px">
        <caption><b>Made by:</b></caption>
        <tr>
            <th>Team Leader</th>
            <td>200160107046</td>
            <td>Divyanshu Suresh Bhai Motivaras</td>
        </tr>
        <tr>
            <th rowspan="4">Team Members</th>
            <td>200160107053</td>
            <td>Kashyap Dipak Bhai Sharma</td>
        </tr>
        <tr>
            <td>200160107048</td>
            <td>Hardik Kirit Bhai Patel</td>
        </tr>
        <tr>
            <td>200160107054</td>
            <td>Priyank Ramesh Bhai Patel</td>
        </tr>
            <td>200160107061</td>
            <td>KaranKumar ArvindKumar Purohit</td>
        </tr>
    </table>

{% endblock %}